{% extends 'base.html.twig' %}

{% block modaltemplate %}

    <script src="/media/js/DevMessenger/DevMessenger.js"></script>

    <!-- Created conversation template -->

    <script type="text/x-template" id="create-conversation-modal">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">
                            </slot>

                            <h3>{% trans %}Create a new conversation{% endtrans %}</h3>
                        </div>

                        <div class="modal-content" style="padding: 10px;">
                            <slot name="content">

                            </slot>

                            <div style="width: 100%">
                                <input type="search" class="create-conversation-input" id="search-user" placeholder="{% trans %}Search user{% endtrans %}">
                                <button class="btn btn-dark" id="search-user-btn" @click="search();create();">{% trans %}Search{% endtrans %}</button>
                            </div>
                            <div id="results-search-user"></div>
                            <div id="conversation-exist-alert" class="hidden">{% trans %}Conversation is exist. Please search in conversation.{% endtrans %}</div>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">
                                <button class="modal-default-button btn btn-dark" @click="$emit('close')">
                                    {% trans %}Close{% endtrans %}
                                </button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <!-- Selected User template -->
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">

        <!-- Your conversation -->

        <div class="col-md-3" style="padding: 0 !important;">
            <div class="header-message col-12">
                <span class="your-messages">
                    {% trans %}Your interview{% endtrans %}
                </span>
            </div>
        </div>

        <!-- Conversation -->

        <div class="col-md-9" style="padding: 0 !important;">
            <div class="header-message col-12">
                <div class="row">
                    <div class="col-12" id="name-message">
                        {% trans %}Lack conversation{% endtrans %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid" style="height: 85%">
    <div class="row"  style="height: 100%; max-width: 100%;">

        <!-- Your conversation -->

        <div class="col-md-3" id="all-conversations" style="padding: 0 !important;">
            <div class="your-conversation create-conversation" id="create-conversation-btn-modal" style="height: 50px !important;">
                <input type="search" style="width: 100% !important; border-radius: 20px !important;" class="create-conversation-input" placeholder="{% trans %}Create conversation{% endtrans %}" @click="showModal = true">
                <modal v-if="showModal" @close="showModal = false">

                </modal>
            </div>
            <div id="list-conversations">

            </div>
        </div>

        <!-- Conversation -->

        <div class="col-md-9" style="padding: 0 !important; max-height: 100%;">

            <div id="conversation">
            </div>

            <div class="send-message">
                <textarea id="send" class="send-message-input" placeholder="{% trans %}Send message{% endtrans %}"></textarea>
                <button class="send-message-btn">{% trans %}Send{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>

    <div class="new-messages-alert">
        <span class="content-alert">{% trans %}You have a new messages! Scroll to bottom{% endtrans %}</span>
    </div>

    <input type="hidden" id="conversationId" value="">

    <script>
        //Get messages wait message
        $("#conversation").html("{% trans %}Please wait... I'm working{% endtrans %}");

        //ListConversation
        $("#all-conversations").append("<span id=\"load-conversation\">{% trans %}Loading conversation. Please wait..{% endtrans %}</span>");
        conversation = new Conversation();
        conversation.setListConversation();

        $(document).ready(function () {

            var conversationId = $("#conversationId").val();

            //Initial connection to WebSocket
            webSocket = new DevMessenger("{{ userId }}");

            //Send message

            $(".send-message-btn").click(function () {
                var message = $(".send-message-input").val();

                if (conversationId === '') {
                    conversationId = $("#conversationId").val();
                }

                if (message.length >= 1) {
                    webSocket.sendMessage(message, conversationId);
                    $("#conversation").animate({ scrollTop: $(document).height() }, "fast");
                }
            });

            // History conversation

            historyConversation = new HistoryConversation(conversationId);

            var scrollConversation = document.querySelector("#conversation");

            scrollConversation.addEventListener('scroll', function () {
                conversationId = $("#conversationId").val();

                if (conversationId !== historyConversation.getConversationId()) {
                    historyConversation.setConversationId(conversationId);
                    historyConversation.setOffset(1);
                    historyConversation.unblock();
                }

                if (scrollConversation.scrollTop === 0) {
                    historyConversation.updateHistory();
                }
            });

            //Set conversation

            $("#list-conversations").on("click", '.your-conversation', function () {
                conversation.setConversation($(this).attr("id"), $(this).attr("fullName"));
            });

            // Create new Conversation

            searchFriends = new SearchFriends();

            Vue.component('modal', {
                template: '#create-conversation-modal',
                methods: {
                    search: function () {
                        var value = $("#search-user").val();

                        if (value.length >= 3) {
                            $("#results-search-user").html("{% trans %}Searching...{% endtrans %}");
                            searchFriends.search(value);
                        }
                    },
                    create: function () {
                        $("#results-search-user").on('click', '.result', function () {
                            webSocket.sendCreateConversation($(this).attr('userid'));
                        });
                    }
                }
            });

            new Vue({
                el: '#create-conversation-btn-modal',
                data: {
                    showModal: false
                },
            });

        });
    </script>

{% endblock %}