{% extends 'base.html.twig' %}

{% block modaltemplate %}
    <script type="text/x-template" id="add-post-modal">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">
                            </slot>
                            <i class="fas fa-times-circle" @click="$emit('close')" style="cursor: pointer; font-size: 20px;"></i>
                        </div>

                        <div class="modal-body">
                            <slot name="body">
                                <textarea placeholder="{% trans %}Write something{% endtrans %}" class="add-post-textarea postContent">

                                </textarea>
                            </slot>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">
                                <button class="btn btn-dark" @click="addPost(); $emit('close')">
                                    {% trans %}Public post{% endtrans %}
                                </button>
                            </slot>
                        </div>

                    </div>
                </div>
            </div>
        </transition>
    </script>
{% endblock %}

{% block body %}
    <div style="padding: 15px;"></div>
    <div class="container-fluid">
        <div class="row">

            <!-- Propose -->

            <div class="col-lg-2">

            </div>

            <div class="col-lg-1"></div>

            <!-- Posts -->

            <div class="col-md-12 col-lg-6">
                <div class="alert-add-post"></div>
                <div class="col-12" style="padding: 0 !important;">
                    <div id="add-post">
                        <textarea class="add-post-textarea add-post-modal-button" placeholder="{% trans %}What's up{% endtrans %} {{ app.getUser.getFirstName }}" readonly id="show-modal" @click="showModal = true">
                        </textarea>
                        <modal v-if="showModal" @close="showModal = false">
                            <h3 slot="header">{% trans %}Add post{% endtrans %}</h3>
                        </modal>
                    </div>
                </div>
                <div style="padding: 15px"></div>

                <!-- Other posts -->

                <div class="post-container"></div>
            </div>


            <div class="col-lg-1">

            </div>

            <!-- Chat -->

            <div class="col-lg-2">
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <!-- Load post -->

    <script>
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "/api/posts"
            }).done(function (res) {
                var postAjax = res['posts'];
                var posts = '';

                if (postAjax !== null) {
                    postAjax.forEach(
                        function (post) {
                            var postsFor;

                            postsFor = '<div class="col-12 post">' +
                                '<div class="user-link-wrraper"><a class="user-link" href="#">'
                                + post['author'] + '</a></div><div class="post-content"><p>'
                                + post['content'] + '</p></div>' +
                                '</div></div>';

                            posts = posts + postsFor;
                        }
                    )
                }

                $(".post-container").html(posts);
            })
        });

        Vue.component('modal', {
            template: '#add-post-modal',
            methods: {
                addPost: function (event) {
                    $(document).ready(function () {
                        $.ajax({
                            type: "POST",
                            url: "/add-post",
                            data: {
                                content: $(".postContent").val(),
                            }
                        }).done(function (res) {
                            if (res['success'] === true) {
                                $(".alert-add-post").text("{% trans %}Posts added. Want view post? Refresh a page!{% endtrans %}");
                            }
                        }).fail(function () {
                            console.log('Fail added post.');
                        })
                    });
                }
            }
        });

        new Vue({
            el: '#add-post',
            data: {
                showModal: false,
            },
        });
    </script>
{% endblock %}