{% extends 'base.html.twig' %}

{% block modaltemplate %}

    <!-- Created conversation template -->

    <script type="text/x-template" id="create-conversation-modal">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">
                            </slot>

                            <h3>{% trans %}Create a new conversation{% endtrans %}</h3>
                        </div>

                        <div class="modal-content" style="padding: 10px;">
                            <slot name="content">

                            </slot>

                            <div style="width: 100%">
                                <input type="search" class="create-conversation-input" id="search-user" placeholder="{% trans %}Search user{% endtrans %}">
                                <button class="btn btn-dark" id="search-user-btn" @click="search()">{% trans %}Search{% endtrans %}</button>
                            </div>
                            <div class="results-search-user"></div>
                        </div>

                        <div class="modal-footer">
                            <slot name="footer">
                                <button class="modal-default-button btn btn-dark" @click="$emit('close')">
                                    OK
                                </button>
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <!-- Selected User template -->
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">

        <!-- Your conversation -->

        <div class="col-md-3" style="padding: 0 !important;">
            <div class="header-message col-12">
                <span class="your-messages">
                    {% trans %}Your interview{% endtrans %}
                </span>
            </div>
        </div>

        <!-- Conversation -->

        <div class="col-md-9" style="padding: 0 !important;">
            <div class="header-message col-12">
                <div class="row">
                    <div class="col-8 name-message">
                        Aleksandra Staniszewska
                    </div>
                    <div class="col-4 setting-message">
                        <i class="fas fa-toolbox"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid" style="height: 85%">
    <div class="row"  style="height: 100%; max-width: 100%;">

        <!-- Your conversation -->

        <div class="col-md-3" style="padding: 0 !important;">
            <div class="your-conversation create-conversation" id="create-conversation-btn-modal" style="height: 50px !important;">
                <input type="search" style="width: 100% !important; border-radius: 20px !important;" class="create-conversation-input" placeholder="{% trans %}Create conversation{% endtrans %}" @click="showModal = true">
                <modal v-if="showModal" @close="showModal = false">

                </modal>
            </div>

            <div class="your-conversation">
                <div class="name">
                    <span>Lukasz Staniszewski</span>
                </div>
                <div class="last-message">
                    Cześć co tam?
                </div>
            </div>

            <div class="your-conversation-focus your-conversation">
                <div class="name">
                    <span>Lukasz Staniszewski</span>
                </div>
                <div class="last-message">
                    Cześć co tam?
                </div>
            </div>

            <div class="your-conversation">
                <div class="name">
                    <span>Lukasz Staniszewski</span>
                </div>
                <div class="last-message">
                    Cześć co tam?
                </div>
            </div>

        </div>

        <!-- Conversation -->

        <div class="col-md-9" style="padding: 0 !important; max-height: 100%;">

            <div class="conversation">
            </div>

            <div class="send-message">
                <textarea id="send" class="send-message-input" placeholder="{% trans %}Send message{% endtrans %}"></textarea>
                <button class="send-message-btn">{% trans %}Send{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>

    <div class="new-messages-alert">
        <span class="content-alert">{% trans %}You have a new messages! Scroll to bottom{% endtrans %}</span>
    </div>

    <input type="hidden" class="conversationId" value="">

    <script src="/media/js/devMessenger/DevMessenger.js"></script>
    <script src="/media/js/devMessenger/HistoryConversation.js"></script>
    <script src="/media/js/devMessenger/SearchFriends.js"></script>

    <script>
        //Get messages
        getMessages = new HistoryConversation('qwerty');
        getMessages.setHistory(1);

        //Initial connection to WebSocket
        webSocket = new DevMessenger("{{ userId }}");

        //Send message

        $(".send-message-btn").click(function () {

            var message = $(".send-message-input").val();

            webSocket.sendMessage(message, 'qwerty');
        });
        // Create new Conversation

        searchFriends = new SearchFriends();

        Vue.component('modal', {
            template: '#create-conversation-modal',
            methods: {
                search: function () {
                    var value = $("#search-user").val();

                    if (value.length >= 3) {
                        searchFriends.search(value);
                    }
                }
            }
        });

        new Vue({
            el: '#create-conversation-btn-modal',
            data: {
                test: 'Hello',
                showModal: false
            },
        });
    </script>

{% endblock %}