<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DevBook{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/media/css/bootstrap.min.css">
        <link rel="stylesheet" href="/media/css/style.css">

        <script src="/media/js/jquery.min.js"></script>
        <script src="/media/js/popper.min.js"></script>
        <script src="/media/js/bootstrap.min.js"></script>
        <script src="/media/js/vue.js"></script>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">LukSta BookStore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if is_granted('ROLE_USER') == false %}

                    {% else %}

                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
